<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.work.dao.LoginDao">

    <select id="login" resultType="integer">
        select count(*)  from sys_tb_park_user
        where loginName = #{name,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

</mapper>